<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    <p>Parrafo1</p>
    <p>El apellido es: {{ apellido }}</p>

    {% for x in notas %}
        {% if x <= 4 %}
            <p style="color: red">Reprobado: {{x}}</p>
        {% else %}
            <p style="color: green">Aprobado: {{x}}</p>
        {% endif %}
    {% endfor %}
</body>
</html>