{% extends 'AppCoder/base.html' %}

{% load static %}    

{% block titulo %} Contacto {% endblock titulo %}

{% block main %}
    <!-- Contact section-->
    <section id="contact">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Contactanos</h2>
                    <p class="lead">Para contactarnos podes hacerlo mediante:</p>
                    <ul>
                        <li>Instagram: @monstruogigante</li>
                        <li>Twitter: @monstruogigante</li>
                        <li>Email: liberalismomuscular@gmail.com</li>
                        <li>WhatsApp: link/url ingreso</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}