{% extends 'AppCoder/base.html' %}

{% load static %}    

{% block titulo %} Crear cuenta {% endblock titulo %}

{% block main %}
    <!-- About section-->
    <section id="crearcuenta">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Crear cuenta:</h2>
                    <p class="lead">En esta página podras Crear una cuenta con tu usuario y contraseña en un futuro para poder:</p>
                    <ul>
                        <li>Subir contenido</li>
                        <li>Copiar mejores ejercicios</li>
                        <li>Leer mejores conocimientos publicados.</li>
                        <li>Contactar con personas formadas.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}