{% extends 'AppCoder/base.html' %}

{% load static %}    

{% block titulo %} Quienes somos {% endblock titulo %}

{% block main %}
    <!-- About section-->
    <section id="quienessomos">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Quienes somos:</h2>
                    <p class="lead">En este blog hablaremos de todos los secretos, misterios y mañas del culturismo. Como también del Liberalismo Muscular</p>
                    <ul>
                        <li>Nutricion del deporte</li>
                        <li>Los mejores ejercicios</li>
                        <li>Los mejores conocimientos</li>
                        <li>Las mejores personas</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}